/*Grey: #333333*/
/*Dark blue: #0c274c*/
/*Light blue: #18709c*/
/*Teal: #19bdc4*/
/*Pink: #ef4089*/

html {
	font-size: 18px;
	box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background-color: #fff;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 18px;
	color: #333;
	margin:0;
}

.clearfix:after {
    content:" ";
    display:block;
    clear:both;
}




/* ====== TYPE STYLES ====== */

p {
	font-size: 1rem;
	line-height: 1.625;
	margin: 0 0 1rem 0;
}

ul li, ul li p {
	color: #333;
}

h1{
	font-family: 'Merriweather', Georgia, serif;
	font-size: 1.444rem;
	margin: 0 0 .66667rem 0;
	color:#18709c;
	font-weight:300;
}

main.about h1 {
	color: #18709c;
}

main.portfolio h1 {
	color: #19bdc4;
}

main.contact h1 {
	color: #ef4089;
}




/* ====== LINK STYLES ====== */

a {
	color: #18709c;
	font-weight: 600;
}

.wrapper {
	margin: 0 auto;
	padding: 0 1rem;
}



/* ====== HEADER STYLES ====== */

header {
	border-bottom: 1px solid #dfdfdf;
}

header a.home {
	display: inline-block;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 1rem;
	font-weight: 300;
	padding: 1rem 0;
	color: #333;
	text-decoration: none;
}

nav.primary ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav.primary li {
	float: left;
}

nav.primary li a {
	font-family: 'Merriweather', Georgia, serif;
	text-decoration: none;
	padding: 1.444rem 1rem;
	padding: 0 .5rem 1rem .5rem;
	color: #333;
	display: inline-block;
}

nav.primary li a.active, nav.primary li a:hover {
	border-bottom: 4px solid #18709c;
}

nav.primary li a[href*="portfolio"].active, nav.primary li a[href*="portfolio"]:hover {
	border-color: #19bdc4;
}

nav.primary li a[href*="contact"].active, nav.primary li a[href*="contact"]:hover {
	border-color: #ef4089;
}

/* ====== HOME STYLES ====== */

.intro {
	padding: 1rem;
	position: relative;
	margin-top: 1rem;
}

.intro-border div {
	height: 6px;
	width: 25%;
	float: left;
}

.intro-border .one {
	background: #0c274c;
}

.intro-border .two {
	background: #18709c;
}

.intro-border .three {
	background: #19bdc4;
}

.intro-border .four {
	background: #ef4089;
}



/* ====== INTERIOR STYLES ====== */

main:not(.home) {
	margin-top: 4.4444rem;
}

.social-links {
	list-style: none;
	padding: 0;
}

.social-links li a {
	text-decoration: none;
}

.social-links li a[href*="twitter"] {
	color: #00bff3;
}

.social-links li a[href*="dribbble"] {
	color: #ef4089;
}

.social-links li a[href*="linkedin"] {
	color: #0054a6;
}

/*Responsive styles*/

@media screen and (min-width:460px){
	.intro {
		padding: 2rem;
		background: url('../images/Emily.jpg') no-repeat right bottom;
		background-size: 45%;
	}
	.intro .content {
		float: left;
		max-width: 60%;
	}
}

@media screen and (min-width:600px){
	header a.home {
		font-size: 1.444rem;
		padding: 1.444rem 0;
		height: 85px;
	}
	nav.primary {
		float: right;
	}
	nav.primary li {
		margin-top: 9px;
	}
	nav.primary li a {
		padding: 1.444rem 1rem;
	}
	.intro {
		background-size: contain;
	}
}

@media screen and (min-width:800px){
	.wrapper {
		padding: 0 2rem;
	}
	.intro {
		margin-top: 2rem;
		padding: 4.444rem;
	}
}

@media screen and (min-width:960px){
	.intro {
		background-position: 82% bottom;
	}
}

@media screen and (min-width:1024px){
	.wrapper {
		max-width: 1024px;
	}
	main.about .wrapper {
		padding: 0 11.1111rem;
	}
	main.contact .wrapper {
		padding: 0 11.1111rem;
	}
	.intro {
		padding: 4.44444rem 7.2222rem 7.2222rem 7.2222rem;
	}
}
